In [3]:
import os, sys
ROOT_DIR = os.path.dirname(os.path.dirname(os.path.abspath('__file__')))
os.chdir(ROOT_DIR)
sys.path.append(ROOT_DIR)

In [4]:
import pandas as pd

In [6]:
df_query = pd.read_pickle('./data/processed/exper_melanoma/query_log1p.pck')
df_query['cell_type'].value_counts()

Neg.cell      2228
T.CD8          528
T.CD4          257
B.cell         245
Macrophage     126
NK              28
Name: cell_type, dtype: int64

In [7]:
df_ref = pd.read_pickle('./data/processed/exper_melanoma/reference_log1p.pck')
df_ref['cell_type'].value_counts()

T.CD8         1231
T.CD4          599
B.cell         573
Macrophage     294
NK              64
Name: cell_type, dtype: int64

In [13]:
df_cv = pd.concat([df_query, df_ref], axis=0)
df_cv['cell_type'].value_counts()

Neg.cell      2228
T.CD8         1759
T.CD4          856
B.cell         818
Macrophage     420
NK              92
Name: cell_type, dtype: int64

In [18]:
df_cv = df_cv.loc[df_cv['cell_type']!='Neg.cell'].reset_index(drop=True)
df_cv['cell_type'].value_counts()

T.CD8         1759
T.CD4          856
B.cell         818
Macrophage     420
NK              92
Name: cell_type, dtype: int64

In [19]:
df_cv

,a2m,abcb11,abcb4,abcc2,abcc8,abhd5,abi2,abl1,abl2,ablim1,...,zbp1,zbtb17,zfp36l1,zfp36l2,zfyve16,zfyve9,zmat3,znf274,zyx,cell_type
0,5.881817,0.0,0.0,0.0,0.0,3.141563,3.625673,0.000000,0.000000,0.000000,...,0.000000,0.0,5.031026,4.585070,0.000000,0.000000,0.000000,0.000000,5.353657,Macrophage
1,7.210449,0.0,0.0,0.0,0.0,0.000000,4.372986,0.000000,5.817349,0.000000,...,2.687167,0.0,5.362559,0.000000,4.132603,0.000000,4.563097,5.410708,2.847812,Macrophage
2,2.415914,0.0,0.0,0.0,0.0,0.000000,3.515419,2.651833,2.358020,0.000000,...,0.000000,0.0,4.910741,4.441710,2.959068,3.498627,2.282382,3.131573,1.830980,T.CD4
3,0.000000,0.0,0.0,0.0,0.0,0.000000,1.940179,0.000000,1.587192,0.000000,...,0.000000,0.0,6.464199,5.779941,0.916291,0.000000,1.562346,4.036539,0.000000,T.CD8
4,0.000000,0.0,0.0,0.0,0.0,0.000000,3.032064,0.000000,1.068153,0.000000,...,0.000000,0.0,5.058917,4.970022,0.000000,0.000000,0.000000,0.000000,0.000000,T.CD8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,0.000000,0.0,0.0,0.0,0.0,0.000000,2.287471,0.000000,0.329304,0.000000,...,2.389680,0.0,4.276805,7.139018,0.000000,0.000000,1.558145,0.000000,0.000000,T.CD8
3941,0.000000,0.0,0.0,0.0,0.0,3.304686,0.647103,0.000000,0.451076,0.000000,...,4.763711,0.0,0.792993,4.071247,0.000000,0.239017,0.157004,0.385262,0.000000,T.CD8
3942,0.000000,0.0,0.0,0.0,0.0,0.000000,1.297463,0.000000,1.321756,0.802002,...,2.473171,0.0,0.000000,6.370740,0.000000,0.000000,1.941615,0.000000,0.000000,T.CD8
3943,0.000000,0.0,0.0,0.0,0.0,0.000000,1.717395,0.000000,1.708378,0.000000,...,4.372986,0.0,6.372586,4.216710,0.000000,0.000000,2.130610,1.011601,5.439296,T.CD8
3944,0.000000,0.0,0.0,0.0,0.0,0.000000,1.305626,0.000000,1.153732,4.898660,...,0.000000,0.0,6.519339,0.000000,0.000000,0.000000,1.481605,0.000000,0.000000,T.CD8

In [20]:
df_cv.to_pickle('./data/processed/exper_melanoma/reference_query_log1p.pck')